<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035661118378-cbei59blukt13k8fqninktb50gvrlqpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035661118378-cbei59blukt13k8fqninktb50gvrlqpg</string>
	<key>API_KEY</key>
	<string>AIzaSyBd5HXl5lQv3WXB_vHY0OnDaQV6K642yBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1035661118378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookapp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-ed119</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-ed119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035661118378:ios:e81c9992c559bec997f9d3</string>
</dict>
</plist>